body {
    background-color: brown;
    margin: 0;
}

header {
    background-color: burlywood;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 0;
}

footer {
    background-color: burlywood;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;             /* Footer height */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5em;    /* Footer height */
  }